@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        cursor: pointer;

    }

    .link:hover {
        text-decoration: underline;
    }

    button {
        padding: 0.5rem;
        font-size: 0.75rem;
        background: linear-gradient(to bottom, #fffc00, #ffeb3b);
        border: 1px solid #ffeb3b;
        border-radius: 0.25rem;
    }

    @media (min-width: 768px) {
        button {
            font-size: 0.875rem;
        }
    }

    button:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(255, 235, 59, 0.5);
    }
}